<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
		"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.itheima.springboot_scan_bxy.mapper.LoginMapper">

	<select id="loginCheck" parameterType="com.itheima.springboot_scan_bxy.entity.User"  resultType="java.util.Map">
   		select
   			   abmuser.id,
   			   abmuser.user_name,
   			   abmuser.user_pwd,
   			   abmuser.user_phone,
   			   abmuser.post_id,
   			   abmuser.user_photo,
   			   DATE_FORMAT(abmuser.create_time,'%Y-%m-%d %H:%i:%s') create_time,
               DATE_FORMAT(abmuser.update_time,'%Y-%m-%d %H:%i:%s') update_time,
               DATE_FORMAT(abmuser.login_time,'%Y-%m-%d %H:%i:%s') login_time,
               abmuser.user_status
   		from back_manage_user abmuser
   		where abmuser.user_name= #{userName}
   				and abmuser.user_pwd= #{passWord}

 	</select>
</mapper>
